<footer class="page-footer">
  <hr />

  <div class="previous-post" style="display:inline-block;">
    {{ if .PrevInSection }}
    <a class="link-reverse" href="{{ .PrevInSection.Permalink }}?ref=footer">« {{ .PrevInSection.Title | truncate 50
      "..."}}</a>
    {{ end }}
  </div>

  <div class="next-post" , style="display:inline-block;float:right;">
    {{ if .NextInSection }}
    <a class="link-reverse" href="{{ .NextInSection.Permalink }}?ref=footer">{{ .NextInSection.Title | truncate 50 "..."
      }} »</a>
    {{ end }}
  </div>

  <div class="page-footer-menu" style="text-align: center;">
    {{- $linkCount := 0 -}}
    {{/* SOCIALS */}}
    {{ if isset .Site.Params "twitter" }}
    {{- if $linkCount -}}&nbsp;|&nbsp;{{- end -}}
    <a href="https://twitter.com/{{.Site.Params.twitter}}">Twitter</a>
    {{- $linkCount = add $linkCount 1 -}}
    {{ end }}

    {{ if isset .Site.Params "linkedin" }}
    {{- if $linkCount -}}&nbsp;|&nbsp;{{- end -}}
    <a href="https://linkedin.com/in/{{.Site.Params.linkedin}}">LinkedIn</a>
    {{- $linkCount = add $linkCount 1 -}}
    {{ end }}

    {{ if isset .Site.Params "github" }}
    {{- if $linkCount -}}&nbsp;|&nbsp;{{- end -}}
    <a href="https://github.com/{{.Site.Params.github}}">GitHub</a>
    {{- $linkCount = add $linkCount 1 -}}
    {{ end }}

    {{ if isset .Site.Params "gitlab" }}
    {{- if $linkCount -}}&nbsp;|&nbsp;{{- end -}}
    <a href="https://gitlab.com/{{.Site.Params.gitlab}}">GitLab</a>
    {{- $linkCount = add $linkCount 1 -}}
    {{ end }}

    {{ if isset .Site.Params "patreon" }}
    {{- if $linkCount -}}&nbsp;|&nbsp;{{- end -}}
    <a href="https://www.patreon.com/{{.Site.Params.patreon}}">Patreon</a>
    {{- $linkCount = add $linkCount 1 -}}
    {{ end }}

    {{ if isset .Site.Params "youtube" }}
    {{- if $linkCount -}}&nbsp;|&nbsp;{{- end -}}
    <a href="https://www.youtube.com/{{.Site.Params.youtube}}">YouTube</a>
    {{- $linkCount = add $linkCount 1 -}}
    {{ end }}

    {{ if isset .Site.Params "medium" }}
    {{- if $linkCount -}}&nbsp;|&nbsp;{{- end -}}
    <a href="https://medium.com/{{.Site.Params.medium}}">Medium</a>
    {{- $linkCount = add $linkCount 1 -}}
    {{ end }}

    {{ if isset .Site.Params "reddit" }}
    {{- if $linkCount -}}&nbsp;|&nbsp;{{- end -}}
    <a href="https://www.reddit.com/user/{{.Site.Params.reddit}}">Reddit</a>
    {{- $linkCount = add $linkCount 1 -}}
    {{ end }}

    {{ if isset .Site.Params "stackoverflow" }}
    {{- if $linkCount -}}&nbsp;|&nbsp;{{- end -}}
    <a href="https://stackoverflow.com/users/{{.Site.Params.stackoverflow}}?tab=profile">StackOverflow</a>
    {{- $linkCount = add $linkCount 1 -}}
    {{ end }}

    {{ if isset .Site.Params "instagram" }}
    {{- if $linkCount -}}&nbsp;|&nbsp;{{- end -}}
    <a href="https://www.instagram.com/{{.Site.Params.instagram}}">Instagram</a>
    {{- $linkCount = add $linkCount 1 -}}
    {{ end }}

    {{ if isset .Site.Params "mastodon" }}
    {{- if $linkCount -}}&nbsp;|&nbsp;{{- end -}}
    <a href="https://{{.Site.Params.mastodon}}">Mastodon</a>
    {{- $linkCount = add $linkCount 1 -}}
    {{ end }}

    {{ if isset .Site.Params "orcid" }}
    {{- if $linkCount -}}&nbsp;|&nbsp;{{- end -}}
    <a href="https://orcid.org/{{.Site.Params.orcid}}">ORCID</a>
    {{- $linkCount = add $linkCount 1 -}}
    {{ end }}

    {{ if isset .Site.Params "google_scholar" }}
    {{- if $linkCount -}}&nbsp;|&nbsp;{{- end -}}
    <a href="https://scholar.google.com/citations?user={{.Site.Params.google_scholar}}">Google Scholar</a>
    {{- $linkCount = add $linkCount 1 -}}
    {{ end }}
    {{/* END SOCIALS */}}
    {{ range .Site.Menus.footer }}
    {{- if $linkCount -}}&nbsp;|&nbsp;{{- end -}}
    <a href="{{.URL}}">{{.Pre }} {{ .Name }}</a>
    {{- $linkCount = add $linkCount 1 -}}
    {{ end }}
  </div>

  {{ if .Site.Params.showPoweredBy}}
  <p>
    Powered by <a href="https://gohugo.io">Hugo</a> and
    <a href="https://latex.vercel.app/">LaTeX.css</a>.
  </p>
  {{ end }}

  {{ if or ( isset .Site.Params "copyright" ) ( isset .Site.Params "copyrightHolder" ) }}
  <div class="copyright" style="text-align: center;">
    <p>
      {{ with .Site.Params.copyright }}
      {{ . | safeHTML }}
      {{ else }}
      &copy; {{now.Format "2006"}}
      {{ with .Site.Params.copyrightHolder }}{{ . }}{{end}}.
      All rights reserved.
      {{end}}
    </p>
  </div>
  {{ end }}

</footer>