{{ if .Params.series }}
  {{ $seriesName := index .Params.series 0 }}
  {{ $normalizedSeriesName := urlize $seriesName }}
  {{ $series := index .Site.Taxonomies.series $normalizedSeriesName }}
  {{ if and $series (gt (len $series.Pages) 0) }}
    <hr>
    <div>
      <h3>This article is part of the series: "{{ replace $seriesName "-" " " | title }}"</h3>
      <ul class="list-group">
        {{ range $num, $post := $series.Pages.ByDate }}
          {{ if eq $post.Permalink $.Page.Permalink }}
            <li class="list-group-item active">
              Part {{ add $num 1 }}: {{ $post.Params.title }} (this article)
            </li>
          {{ else }}
            <li class="list-group-item">
              <a href="{{ $post.Permalink }}">
                Part {{ add $num 1 }}: {{ $post.Params.title }}
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  {{ end }}
{{ end }}